.button {
    -fx-padding: 1.3em 3em;
    -fx-font-size: 12px;
    -fx-text-transform: uppercase;
    -fx-letter-spacing: 2.5px;
    -fx-font-weight: 500;
    -fx-text-fill: #000;
    -fx-background-color: #fff;
    -fx-border-width: 0;
    -fx-border-radius: 45px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 8, 0, 0, 15);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #23c483;
    -fx-effect: dropshadow(three-pass-box, rgba(46, 229, 157, 0.4), 15, 0, 0, 20);
    -fx-text-fill: #fff;
    -fx-translate-y: -7px;
}

.button:pressed {
    -fx-translate-y: -1px;
}